* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: white;
}


:root {
    --1st-bg-color: rgba(26, 11, 46, 1);
    --2nd-bg-color: rgba(35, 14, 61, 1);
    --3rd-bg-color: rgba(53, 17, 101, 0.4);
    --1st-text-color: rgba(255, 255, 255, 1);
    --second-text-color: rgba(0, 255, 136, 1);
}

body {
    height: 6000px;
}

.container {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
}

.display-flex {
    display: flex;
}

.btn {
    padding: 12px 16px;
    background-image: linear-gradient(47deg, rgb(160, 149, 31), rgb(195, 38, 148), rgba(145, 0, 248, 1));
    border-radius: 10000px;
}







/* Header-Section-Style */



.nav-container {
    border-bottom: 1px solid rgb(40, 7, 100);
    background-color: var(--1st-bg-color);
}

nav {
    padding: 25px 0px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.logo {
    font-size: 3rem;
    font-weight: 800;
}

.logo span {
    background-image: linear-gradient(43deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    color: transparent;
    background-clip: text;
}

.menue ul {
    list-style: none;
    gap: 2.25rem;
}

.menue ul li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

.nav-btn a {
    text-decoration: none;
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
}

.hamburger-menue {
    display: none;
}


#banner-section {
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--1st-bg-color);
    padding: 80px 0px;
}

.banner-top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
}

.hero-circle {
    max-width: 350px;
}

.microphone {
    position: absolute;
}

.banner-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.banner-heading {
    font-size: 2.8rem;
}

.banner-description {
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 15px;
}

.banner-btn a {
    text-decoration: none;
    display: inline-block;
}

.banner-btn i {
    margin-right: 5px;
}

.banner-btn {
    display: flex;
    align-items: center;
    gap: 15px;
}

#banner-btn-2 {
    background: none;
    border: 1px solid var(--second-text-color);
    color: var(--second-text-color);
}

.fa-envelope {
    color: var(--second-text-color);
}



/* About section-style */


#about-section {
    background-color: var(--1st-bg-color);
    padding-bottom: 110px;
    padding-top: 100px;
}

.about-content {
    text-align: center;
}

.about-heading,
.techwave-heading {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.about-content-2nd {
    font-weight: 200;
    margin-bottom: 1.45rem;
    font-size: 1rem;
    line-height: 1.7rem;
    padding-bottom: 30px;
    font-size: 1rem;
}

.about-content-last {
    font-weight: 200;
    font-size: 0.9rem;
}

.about-devider {
    margin: 80px 0px;
    border: 1px solid rgb(50, 21, 76);
}

#about-rating {
    justify-content: space-between;
}

.about-rating-heading {
    text-align: center;
    font-size: 3rem;
    color: var(--second-text-color);
    margin-bottom: 16px;
    font-weight: 900;
}



.about-rating-dis {
    font-weight: 200;
    text-align: center;
}



/* techwave-section */
#techwave {
    background-color: var(--2nd-bg-color);
    padding-bottom: 120px;
}

.techwave-container {
    padding-top: 120px;
}

.techwave-heading {
    padding-bottom: 40px;
    text-align: center;
}

.techwave-box {
    display: grid;
    gap: 30px;
    grid-template-areas:
        "tech-card-1    tech-card-2     tech-card-2     tech-card-2    tech-card-2"
        "tech-card-1    tech-card-3     tech-card-3     tech-card-3     tech-card-3"
        "tech-card-4    tech-card-4     tech-card-4     tech-card-4     tech-card-5   ";

}

.tech-card-1 {
    grid-area: tech-card-1;

    padding: 107px 40px;
}

.tech-card-2 {
    grid-area: tech-card-2;

    padding: 40px;
}

.tech-card-3 {
    grid-area: tech-card-3;
    padding: 40px;
}

.tech-card-4 {
    grid-area: tech-card-4;

}

.tech-card-5 {
    grid-area: tech-card-5;
    padding: 40px;
}

.tech-card {
    background-color: var(--3rd-bg-color);
    border-radius: 40px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.tech-card-heading {
    font-size: 1.5rem;
}

.tech-card-dis {
    font-weight: 150;
}

/* footer-section-styles */
footer {
    background-color: blue;
    background: url('../assets/footer-bg.png;')

}

.footer-container {
    background: url('../assets/footer-bg.png');
    background-position: 50% 20%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 120px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

#footer-logo {
    font-size: 5rem;
}

.social-links {
    justify-content: center;
    align-items: center;
    gap: 40px;   
}
.social-link-div{
    display: flex;
    align-items: center;
    gap: 5px;
}


@media screen and (max-width:576px) {
    .container {
        width: 95%;
    }

    .menue,
    .nav-btn {
        display: none;
    }

    #banner-section {
        background-image: url(../assets/hero-bg.png);
        background-position: 50% 24%;
        background-size: contain;
        background-repeat: no-repeat;
        padding-top: 0;
        padding-bottom: 40px;
    }

    .banner-content {
        text-align: center;
    }

    .banner-top {
        margin-bottom: 24px;
    }

    .hero-circle {
        max-width: 200px;
        margin-top: 40px;
    }

    .microphone {
        max-width: 46px;
        margin-top: 40px;
    }

    .about-heading {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    #about-section {
        padding-top: 40px;
        padding-bottom: 45px;
    }

    #about-rating {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        justify-content: center;
        align-items: center;
    }

    .about-rating-heading {
        font-weight: 900;
        font-size: 3rem;
    }

    .about-devider {
        margin: 40px 0px;
        border: 1px solid rgb(50, 21, 76);
    }

    .about-content-2nd {
        margin-bottom: 0;
    }

    .hamburger-menue {
        display: inline;
    }

    .desktop-br {
        display: none;
    }

    .techwave-container {
        padding: 40px 0px;
    }

    #techwave {
        padding-bottom: 0px;
    }

    .techwave-heading {
        font-size: 2rem;
        margin-bottom: 0rem;
        text-transform: capitalize;
        padding-bottom: 16px;
    }

    .techwave-box {
        gap: 16px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "tech-card-1"
            "tech-card-2"
            "tech-card-3"
            "tech-card-4"
            "tech-card-5"
        ;

    }



}