* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: white;
}


:root {
    --1st-bg-color: rgba(26, 11, 46, 1);
    --2nd-bg-color: rgba(35, 14, 61, 1);
    --3rd-bg-color: rgba(53, 17, 101, 0.4);
    --1st-text-color: rgba(255, 255, 255, 1);
    --second-text-color: rgba(0, 255, 136, 1);
}



.container {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
}

.display-flex {
    display: flex;
}

.btn {
    padding: 12px 16px;
    background-image: linear-gradient(47deg, rgb(160, 149, 31), rgb(195, 38, 148), rgba(145, 0, 248, 1));
    border-radius: 10000px;
}







/* Header-Section-Style */



.nav-container {
    border-bottom: 1px solid rgb(40, 7, 100);
    background-color: var(--1st-bg-color);
}

nav {
    padding: 25px 0px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.logo {
    font-size: 3rem;
    font-weight: 800;
}

.logo span {
    background-image: linear-gradient(43deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    color: transparent;
    background-clip: text;
}

.menue ul {
    list-style: none;
    gap: 2.25rem;
}

.menue ul li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

.nav-btn a {
    text-decoration: none;
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
}

.hamburger-menue {
    display: none;
}


#banner-section {
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--1st-bg-color);
    padding: 80px 0px;
}

.banner-top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
}

.hero-circle {
    max-width: 350px;
}

.microphone {
    position: absolute;
}

.banner-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.banner-heading {
    font-size: 2.8rem;
}

.banner-description {
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 15px;
}

.banner-btn a {
    text-decoration: none;
    display: inline-block;
}

.banner-btn i {
    margin-right: 5px;
}

.banner-btn {
    display: flex;
    align-items: center;
    gap: 15px;
}

#banner-btn-2 {
    background: none;
    border: 1px solid var(--second-text-color);
    color: var(--second-text-color);
}

.fa-envelope {
    color: var(--second-text-color);
}



/* About section-style */
#about-rating {
    margin-bottom: 200px;
}

#about-section {
    background-color: var(--1st-bg-color);
    padding-bottom: 10px;
}

.about-content {
    text-align: center;
}

.about-heading {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.about-content-2nd {
    font-weight: 200;
    margin-bottom: 1.45rem;
    font-size: 0.9rem;
    line-height: 1.7rem;
}

.about-content-last {
    font-weight: 200;
    font-size: 0.9rem;
}

.about-devider {
    margin: 80px 0px;
    border: 1px solid rgb(50, 21, 76);
}

#about-rating {
    justify-content: space-between;
}

.about-rating-heading {
    text-align: center;
    font-size: 3rem;
    color: var(--second-text-color);
    margin-bottom: 16px;
}

.about-content-2nd {
    padding-bottom: 30px;
    font-size: 1rem;
    line-height: 1.25rem;
}

.about-rating-dis {
    font-weight: 200;
    text-align: center;
}


@media screen and (max-width:576px) {
    .container {
        width: 95%;
    }

    .menue,
    .nav-btn {
        display: none;
    }

    #banner-section {
        background-image: url(../assets/hero-bg.png);
        background-position: 50% 24%;
        background-size: contain;
        background-repeat: no-repeat;
        padding-top: 0;
        padding-bottom: 40px;
    }

    .banner-content {
        text-align: center;
    }

    .banner-top {
        margin-bottom: 24px;
    }

    .hero-circle {
        max-width: 200px;
        margin-top: 40px;
    }

    .microphone {
        max-width: 46px;
        margin-top: 40px;
    }

    .about-heading {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    #about-rating {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        justify-content: center;
        align-items: center;
    }

    .about-devider {
        margin: 40px 0px;
        border: 1px solid rgb(50, 21, 76);
    }

    .about-content-2nd {
        margin-bottom: 0;
    }

    .hamburger-menue {
        display: inline;
    }

    .desktop-br {
        display: none;
    }
}