* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: white;
}

:root {
    --1st-bg-color: rgba(26, 11, 46, 1);
    --2nd-bg-color: rgba(35, 14, 61, 1);
    --3rd-bg-color: rgba(53, 17, 101, 0.4);
    --1st-text-color: rgba(255, 255, 255, 1);
    --second-text-color: rgba(0, 255, 136, 1);
}



.container {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
}

.display-flex {
    display: flex;
}

.btn {
    padding: 12px 16px;
    background-image: linear-gradient(47deg, rgb(160, 149, 31), rgb(195, 38, 148), rgba(145, 0, 248, 1));
    border-radius: 10000px;
}







/* Header-Section-Style */

header {
    background-color: var(--1st-bg-color);
}

nav {
    padding: 25px 0px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 3rem;
    font-weight: 800;
}

.logo span {
    background-image: linear-gradient(43deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    color: transparent;
    background-clip: text;
}

.menue ul {
    list-style: none;
    gap: 2.25rem;
}

.menue ul li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

.nav-btn a {
    text-decoration: none;
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
}


#banner-section{
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-size: cover;
}
.banner-top{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
}
.microphone{
    position: absolute;
}

.banner-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.banner-heading{
    font-size: 2.8rem;
}
.banner-description{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 15px;
}

.banner-btn a {
    text-decoration: none;
    display: inline-block;
}

.banner-btn {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}
